
<footer>

    <section class="footer">
      

        <div class="col-lg-12 col-md-12 col-sm-12 ">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <a class="btn-info" href="@Html.ActionLink("University", "Home")">DAMN</a>
                <button type="button" onclick="window.location.href = '@Html.ActionLink("University", "Home")'">List Of Universities</button>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <p>Connect with us</p>
                <a href="#"><img src="~/imgz/twitter.png" alt="" height="20px" width="20px"></a>
                <a href="#"><img src="~/imgz/facebook (1).png" alt="" height="20px" width="20px"></a>
                <a href="#"><img src="~/imgz/google-plus.png" alt="" height="20px" width="20px"></a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12" ">
                <p>Contact Us</p>
                <div><img src="~/imgz/gm.png" alt="" height="20px" width="20px"><p>myemail@mail.com</p></div>
            </div>
        </div>
    </section>

    <section class="copyrights">
        <p>&copy; @DateTime.Now.Year - Levitate</p>
    </section
>
</footer>

<div class="dmtop">Scroll to Top</div>
