
<footer>

    <section class="footer">

        <div class="container col-lg-12 col-md-12 col-sm-12 ">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="social_buttons">
                    <p>VARSITY CHECK</p>
                    <a href="index.html" data-toggle="tooltip" data-placement="bottom" title="Varsity check"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="social_buttons">
                    <p>Connect with us</p>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook tpl2"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter tpl2"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="RSS"><i class="fa fa-rss"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="social_buttons">
                    <p id="ContactUs">Contact Us</p>
                    <div><img src="imgz/gm.png" alt="" height="20px" width="20px"><p>myemail@mail.com</p></div>
                </div>
            </div>
        </div>
    </section>
    <section class="copyrights">
        <p>Copyright © 2019 - All rights reserved | Pro<span>Team</span>.</p>
    </section>
</footer>

<div class="dmtop">Scroll to Top</div>
