
<section id="intro">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h1>Your place to decide your career path</h1>
            <div class="search-bar">
                <div class="active-pink-4 mb-4">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </div>
    </div>

    <div class="contain ">
        <div class="col-sm-12 col-md-12">
            <button type="button" class="btna" onclick="window.location.href = '/Home/Bursary'">bursaries</button><!--
            --><button type="button" class="btna" onclick="window.location.href = '/Home/CareerPath'">Career Path</button><!--
            --><button type="button" class="btna" onclick="window.location.href = '/Home/Learnership'">Learnership</button><!--
            --><button type="button" class="btna" onclick="window.location.href = '/Home/GovernmentSector'">Government Sector</button>
        </div>
    </div>
</section>
<section class="section1 text-center">
    <div class="container">
        <div class="general-title">
            <h3>Let Us Inspire You</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="servicetitle">
                        <h4>Certification Path</h4>
                        <hr>
                    </div>
                    <div class="icn-main-container">
                        <img src="~/imgz/degrees/engineering/physical.jpg">
                        <div id="iconsec"><img src="~/imgz/first.png"></div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>

                    <a class="btn btn-primary" href="#">Read more</a>
                </div>

            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="servicetitle">
                        <h4>Government Opportunity</h4>
                        <hr>
                    </div>
                    <div class="icn-main-container">
                        <img src="~/imgz/degrees/engineering/physical.jpg">
                        <div id="iconsec"><img src="~/imgz/quality.png"></div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>

                    <a class="btn btn-primary" href="#">Read more</a>
                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="servicetitle">
                        <h4>Test Your Skill</h4>
                        <hr>
                    </div>
                    <div class="icn-main-container">
                        <img src="~/imgz/degrees/engineering/physical.jpg">
                        <div id="iconsec"><img src="~/imgz/feedback.png"></div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                    <a class="btn btn-primary" href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section4 text-center">
    <div class="general-title">
        <h3 id="Services">Our Videos</h3>
        <hr>
    </div>

    <video width="320" height="240" controls>
        <source src="~/imgz/Monday Morning Motivational Video (1).mp4" type="video/mp4">
        <source src="~/movie.ogg" type="video/ogg">
    </video>
    <video width="320" height="240" controls>
        <source src="~/imgz/Monday Morning Motivational Video (1).mp4" type="video/mp4">
        <source src="~/movie.ogg" type="video/ogg">
    </video>
    <video width="320" height="240" controls>
        <source src="~/imgz/Monday Morning Motivational Video (1).mp4" type="video/mp4">
        <source src="https://www.youtube.com/watch?v=NAJ1Z4kOyHA" type="video/ogg">
    </video>

</section>
