<div class="topbar clearfix"></div>

<header class="header">

    <div class="topb"></div>

    <div class="log"><a href="/Home/Index" title=""><img src="~/imgz/logo.PNG" alt="Varsity Check"></a></div>

    <div class="container">
        <div class="site-header clearfix">
            <div class="col-lg-6 col-md-3 col-sm-12 title-area"></div>
            <div id="nav">
                <div class="container clearfix">
                    <ul id="jetmenu" class="jetmenu blue">
                        <li class="active"><a href="/Home/index">Home</a></li>
                        <li><a href="#Services">our services</a></li>
                        <li><a href="#ContactUs">contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
