
@{
    ViewBag.Title = "Application";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/up.jpg" alt="">
        </article>
        <aside>
            <h5>SOUTH AFRICAN LEARNERSHIP</h5>
        </aside>
    </div>
</section>

<section>
    <div class="accordionn">Overview</div>
    <div class="panel">
        <p>Nursing combines compassion, knowledge, and sophisticated health technology to restore, maintain, and promote the health of individuals, groups, or communities. Nursing is both an art and a science: caring, compassionate relationships blended with the development and application of nursing knowledge, techniques and ethics.</p>
        <p>As a Wits nursing student, you will study in a rigorous and vibrant multidisciplinary environment that will stimulate your intellectual inquiry and professional responsiveness. You will learn in small groups and engage in cooperative learning as you work through real-life health scenarios, deciding how to access information that produces the best results in managing health issues. <a href="#"> Read more....</a></p>
    </div>
    <div class="accordionn">Career Opportunities</div>
    <div class="panel">
        <p class="p1">• General nursing</p>
        <p class="p1">• Child nursing</p>
        <p class="p1">• Intensive care nursing</p>
        <p class="p1">• Nursing education</p>
        <p class="p1">• Nephrology nursing</p>
        <p class="p1">• Oncology and palliative nursing</p>
        <p class="p1">• Psychiatric nursing</p>
        <p class="p1">• Research</p>
        <p class="p1">• Trauma and emergency nursing</p>
        <p class="p1">• Midwife</p>
    </div>
    <div class="accordionn">Curriculum</div>
    <div class="panel">
        <p class="p1"><strong>First year</strong></p>
        <ul>
            <li class="p2">Introduction to Medical Sciences</li>
            <li class="p2">Chemistry I</li>
            <li class="p2">Comprehensive Nursing I</li>
            <li class="p2">Physics I</li>
            <li class="p2">Introduction to Psychology I Basic</li>
            <li class="p2">Principles of Group and Individual</li>
            <li class="p2">Psychology I</li>
            <li class="p2">Human Behavioural Sciences I</li>
        </ul>
        <p><strong>Second year</strong></p>
        <ul>
            <li class="p2">Anatomy for Nursing Students II</li>
            <li class="p2">Comprehensive Nursing II</li>
            <li class="p2">Physiology and Medical Biochemistry I</li>
        </ul>
        <p class="p1"><strong>Third year</strong></p>
        <ul>
            <li class="p2">Comprehensive Nursing III</li>
            <li class="p2">Women’s Health I</li>
            <li class="p2">Psycho-Social Health I</li>
            <li class="p2">Pharmacology</li>
            <li class="p2">Health Psychology</li>
            <li class="p2">Research Design and Analysis</li>
        </ul>
        <p class="p1"><strong>Fourth year</strong></p>
        <ul>
            <li class="p2">Comprehensive Nursing IV</li>
            <li class="p2">Women’s Health II</li>
            <li class="p2">Psycho-Social Health II</li>
        </ul>
    </div>

    <div class="accordionn">Entry Requirements</div>
    <div class="panel">
        <section class="content-row">
            <article class="textual-article content-block">
                <a id="d.en.4982"></a>
                <table border="1" width="100%" cellspacing="0" cellpadding="3">
                    <tbody>
                        <tr>
                            <td colspan="4" align="left" valign="top" width="21%">
                                <h4>Health Sciences<strong> - </strong>View the&nbsp;<a href="/media/wits-university/study/undergraduate/Wits University Revised Health Sciences Admissions Policy .pdf"> Wits University Revised Health Sciences Admissions Policy </a></h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>&nbsp;Download the NSC requirements for&nbsp;the Faculty of Health Sciences <a href="/media/wits-university/study/undergraduate/documents/2020-documents/HealthSciences_NSC_requirements_2020.pdf">here</a>.</h4>
                <p><img src="/media/wits-university/study/undergraduate/images/images-2020/HealthSciences_NSC_requirements_2020.png" alt="Health Sciences NSC requirements for 2020" title="Health Sciences NSC requirements for 2020" class=""></p>
            </article>
        </section>
    </div>

    <div class="accordionn">Section 5</div>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="accordionn">Section 6</div>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="accordionn">Section 7</div>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

</section>

