@model VarsityCheck.ViewModels.DisplayViews
@{
    ViewBag.Title = "Bursary";

}


    <section>
        <div class="head-t">
            <article>
                <img src="~/imgz/up.jpg" alt="">
            </article>
            <aside>
                <h5>SOUTH AFRICAN BURSARIES</h5>
            </aside>
        </div>
    </section>

    <section id="filterid">
        <div class="optionsDiv">
            Filter By Position
            <select id="selectField">
                <option value="All" selected>All</option>
                <option value="Eastern">Eastern Cape</option>
                <option value="Free">Free State</option>
                <option value="Gauteng">Gauteng</option>
                <option value="KwaZulu">KwaZulu-Natalr</option>
                <option value="Limpopo">Limpopo</option>
                <option value="Mpumalanga">Mpumalanga</option>
                <option value="Northern">Northern Cape</option>
                <option value="North">North West</option>
                <option value="Western">Western Cape</option>
            </select>
        </div>
        <table id="myTable">

            <tr position=""></tr>

            <tr position="Gauteng">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr position="Limpopo">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            <tr position="North">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr position="Free">

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr position="Mpumalanga">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            <tr position="KwaZulu">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>

            <tr position="West">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>

            <tr position="Mpumalanga">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>

@Html.Partial("_scripts")