@model VarsityCheck.ViewModels.DisplayViews

@{
    ViewBag.Title = "Bursary";
    
}

<div class="container">
    <section>
        <div class="head-t">
            <article>
                <img src="~/imgz/up.jpg" alt="">
            </article>
            <aside>
                <h5>SOUTH AFRICAN BURSARIES</h5>
            </aside>
        </div>
    </section>

    <section id="filterid">
        <div class="optionsDiv">
            Filter By Position
            <select id="selectField">
                <option value="All" selected>All</option>
                <option value="Eastern">Eastern Cape</option>
                <option value="Professor">Free State</option>
                <option value="Assistant">Gauteng</option>
                <option value="Professor">KwaZulu-Natalr</option>
                <option value="Professor">Limpopo</option>
                <option value="Professor">Mpumalanga</option>
                <option value="Professor">Northern Cape</option>
                <option value="Professor">North West</option>
                <option value="Professor">Western Cape</option>
            </select>
        </div>
        <table id="myTable">
            <tr id="HeadRow">
                <td>First Name</td>
                <td>Last Name</td>
                <td>Age</td>
                <td>Position</td>
            </tr>
            <tr position="Eastern">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>Rhodes University</h3>
                            <img src="~/imgz/hhhh.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>25</td>
                <td>Student</td>
            </tr>
            <tr position="Professor">
                <td>Billy</td>
                <td>Billy's Last name</td>
                <td>40</td>
                <td>Professor</td>
            </tr>
            <tr position="Professor">
                <td>Eddy</td>
                <td>Eddy's Last name</td>
                <td>35</td>
                <td>Professor</td>
            </tr>
            <tr position="Professor">
                <td>Emma</td>
                <td>Emma's Last name</td>
                <td>38</td>
                <td>Professor</td>
            </tr>
            <tr position="Student">
                <td>Emily</td>
                <td>Emily's Last name</td>
                <td>20</td>
                <td>Student</td>
            </tr>
            <tr position="Assistant">
                <td>Jack</td>
                <td>Jack's Last name</td>
                <td>30</td>
                <td>Assistant</td>
            </tr>
            <tr position="Student">
                <td>Robert</td>
                <td>Robert's Last name</td>
                <td>20</td>
                <td>Student</td>
            </tr>
            <tr position="Assistant">
                <td>Danny</td>
                <td>Danny's Last name</td>
                <td>37</td>
                <td>Assistant</td>
            </tr>
            <tr position="Professor">
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3>University Of Cape Town</h3>
                            <img src="~/imgz/uct-logo.png" alt="">
                            <div class="btn-co">
                                <button type="button" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>

</div>

