
@{
    ViewBag.Title = "CareerSelection";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/up.jpg" alt="">
        </article>
        <aside>
            <h5>What do you to study?Choose below</h5>
        </aside>
    </div>
</section>

<section class="section4 text-center">
    <div class="cont1" data-effect="slide-bottom">
        <div id="co">
            <h3>Degree</h3>
            <img src="~/imgz/mortarboard.png" alt="">
            <div class="btn-co">
                <button type="button" onclick="window.location.href = '/Home/CareerPath'" class="btn-2">Enter</button>
            </div>
        </div>
    </div>

    <div class="cont1" data-effect="slide-bottom">
        <div id="co">
            <h3>Diploma</h3>
            <img src="~/imgz/school.png" alt="">
            <div class="btn-co">
                <button type="button" onclick="window.location.href = '/Home/CareerPath'" class="btn-2">Enter</button>
            </div>
        </div>
    </div>

    <div class="cont1" data-effect="slide-bottom">
        <div id="co">
            <h3>Certificate</h3>
            <img src="~/imgz/certificate (1).png" alt="" width="50" height="550">
            <div class="btn-co">
                <button type="button" onclick="window.location.href = '/Home/CareerPath'" class="btn-2">Enter</button>
            </div>
        </div>
    </div>

</section>

