@model VarsityCheck.ViewModels.DisplayViews

@{
    ViewBag.Title = "CareerPath";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/trophy-shape.png" alt="">
        </article>
        <aside>
            <h5>SOUTH AFRICAN INTITUTIONS</h5>
        </aside>
    </div>
</section>

<section class="section4 text-center">
    <div class="cont1" data-effect="slide-bottom">
        <div id="co">
            <h3>Degree</h3>
            <img src="~/imgz/trophy-shape.png" alt="">
            <div class="btn-co">
                <button type="button" onclick="window.location.href = '/Home/Degrees'" class="btn-2">Enter</button>
            </div>
        </div>
    </div>

    <div class="cont1" data-effect="slide-bottom">
        <div id="co">
            <h3>Diploma</h3>
            <img src="~/imgz/trophy-shape.png" alt="">
            <div class="btn-co">
                <button type="button" onclick="window.location.href = '/Home/Diploma'" class="btn-2">Enter</button>
            </div>
        </div>
    </div>

    <div class="cont1" data-effect="slide-bottom">
        <div id="co">
            <h3>Certificate</h3>
            <img src="~/imgz/trophy-shape.png" alt="" width="50" height="550">
            <div class="btn-co">
                <button type="button" onclick="window.location.href = '/Home/Certification'" class="btn-2">Enter</button>
            </div>
        </div>
    </div>

</section>





