@model VarsityCheck.ViewModels.DisplayViews

@{
    ViewBag.Title = "Diploma";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/up.jpg" alt="">
        </article>
        <aside>
            <h5>SOUTH AFRICAN DIPLOMAS</h5>
        </aside>
    </div>
</section>

<section id="filterid">
    <div class="optionsDiv">
        Filter By Position
        <select id="selectField">
            <option value="All" selected>All</option>
            <option value="Health">Health Sciences</option>
            <option value="Education">Education</option>
            <option value="Engineering">Engineering</option>
            <option value="Humanities">Humanities</option>
        </select>
    </div>
    <table id="myTable">

        <tr position=""></tr>

        <tr position="Engineering">
            @foreach (var diploma in Model.diplomas)
            {
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3> @diploma.Name</h3>
                            <img src="~/imgz/degrees/engineering/electrical.jpg" alt="">
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/University'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            }
        </tr>

    </table>
</section>

@Html.Partial("_scripts")

