@model VarsityCheck.ViewModels.DisplayViews



@Html.Partial("_Universities")





<!--
<table id="myTable">
    <tr position=""></tr>


    <tr position="Eastern">
        <td>
            @@foreach (var university in Model.universities)
            {
                foreach (var degree in Model.degrees)
                {
                    foreach (var schools in Model.schools)
                    {
                        foreach (var faculty in Model.faculties)
                        {
                            foreach (var universityfaculty in Model.universityFaculties)
                            {
                                if (degree.SchoolId == schools.Id && schools.FacultyId == faculty.Id && universityfaculty.FacultyId == universityfaculty.UniversityId)
                                {
                                    if (university.Location == "Eastern Cape")
                                    {
                                        <div class="cont1">
                                            <div id="co">
                                                <h3> @@university.Name</h3>
                                                <img src="@@Url.Content(university.Image)" alt="" />
                                                <div class="btn-co">
                                                    <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            }

                        }
                    }

                }
            }
        </td>
    </tr>

    <tr position="Free">
        <td>
            @foreach (var university in Model.universities)
            {
                if (university.Location == "Free state")
                {

                    <div class="cont1">
                        <div id="co">
                            <h3>@university.Name</h3>
                            <img src="@Url.Content(university.Image)" alt="" />
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>

                }
            }
        </td>
    </tr>

    <tr position="Gauteng">
        <td>
            @@foreach (var university in Model.universities)
            {
                if (university.Location == "Gauteng")
                {

                    <div class="cont1">
                        <div id="co">
                            <h3> @@university.Name</h3>
                            <img src="@@Url.Content(university.Image)" alt="" />
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>

                }
            }
        </td>
    </tr>

    <tr position="KwaZulu">
        <td>
            @@foreach (var university in Model.universities)
            {
                if (university.Location == "KwaZulu Natal")
                {

                    <div class="cont1">
                        <div id="co">
                            <h3> @@university.Name</h3>
                            <img src="@@Url.Content(university.Image)" alt="" />
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>

                }
            }
        </td>
    </tr>

    <tr position="Limpopo">
        <td>
           @@foreach (var university in Model.universities)
            {
                if (university.Location == "Limpopo")
                {

                    <div class="cont1">
                        <div id="co">
                            <h3> @@university.Name</h3>
                            <img src="@@Url.Content(university.Image)" alt="" />
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>

                }
            }
        </td>
    </tr>

    <tr position="Mpumalanga">
        <td>
            @@foreach (var university in Model.universities)
            {
                if (university.Location == "Mpumalanga")
                {

                    <div class="cont1">
                        <div id="co">
                            <h3> @@university.Name</h3>
                            <img src="@@Url.Content(university.Image)" alt="" />
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>

                }
            }
        </td>
    </tr>
    <tr position="Northern">
        <td>
            @@foreach (var university in Model.universities)
            {
                if (university.Location == "Northern Cape")
                {

                    <div class="cont1">
                        <div id="co">
                            <h3> @@university.Name</h3>
                            <img src="@@Url.Content(university.Image)" alt="" />
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>

                }
            }
        </td>
    </tr>
    <tr position="North">
        <td>
            @@foreach (var university in Model.universities)
            {
                if (university.Location == "North West")
                {

                    <div class="cont1">
                        <div id="co">
                            <h3> @@university.Name</h3>
                            <img src="@@Url.Content(university.Image)" alt="" />
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </td>
    </tr>

    <tr position="Western">
        <td>
            @@foreach (var university in Model.universities)
            {
                if (university.Location == "Western Cape")
                {
                    <div class="cont1">
                        <div id="co">
                            <h3> @@university.Name</h3>
                            <img src="@@Url.Content(university.Image)" alt="" />
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/Application'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </td>
    </tr>

</table>
-->
