

@{
    ViewBag.Title = "GovernmentSector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/up.jpg" alt="">
        </article>
        <aside>
            <h5>SOUTH AFRICAN GOVERNMENT OPPORTUNITIES</h5>
        </aside>
    </div>
</section>

