
@{
    ViewBag.Title = "Industrial";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/trophy-shape.png" alt="">
        </article>
        <aside>
            <h5>@ViewBag.Name</h5>
        </aside>
    </div>
</section>

