
@{
    ViewBag.Title = "Learnership";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/up.jpg" alt="">
        </article>
        <aside>
            <h5>SOUTH AFRICAN LEARNERSHIP</h5>
        </aside>
    </div>
</section>

