@model VarsityCheck.ViewModels.DisplayViews

@{
    ViewBag.Title = "University";
}


<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/up.jpg" alt="">
        </article>
        <aside>
            <h5>SOUTH AFRICAN UNIVERSITIES</h5>
        </aside>
    </div>
</section>

<section id="filterid">
    <div class="optionsDiv">
        Filter By Position
        <select id="selectField">
            <option value="All" selected>All</option>
            <option value="Eastern">Eastern Cape</option>
            <option value="Free">Free State</option>
            <option value="Gauteng">Gauteng</option>
            <option value="KwaZulu">KwaZulu-Natalr</option>
            <option value="Limpopo">Limpopo</option>
            <option value="Mpumalanga">Mpumalanga</option>
            <option value="Northern">Northern Cape</option>
            <option value="North">North West</option>
            <option value="Western">Western Cape</option>
        </select>
    </div>
    <table id="myTable">

        <tr position=""></tr>

        <tr position="Engineering">
            @foreach (var university in Model.universities)
            {
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3> @university.Name</h3>
                            <img src="~/imgz/universities/ump.jpg" alt="">
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/University'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            }
        </tr>
    </table>

</section>

@Html.Partial("_scripts")


